body{
  font-family:Arial, Helvetica, sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  text-align:center;
  background-color: black;
  color:white;
}
.gap{
  margin:15px;
}
.bold{
  font-weight: 900;
  text-decoration: underline;
}
table,th,td{
  border:2px solid;
  border-collapse:collapse;
  text-align: left;
  vertical-align: middle;
  padding: 10px;
}
tr:hover{
  background-color: coral;
  cursor: pointer;
}
  button{
      padding: 5px;
      border-radius: 25px;
     width: 60px;
      background-color: rgb(15, 143, 255);
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
    .rmline{
      text-decoration:none;
      color: white ;
    }
